#zmmtg-root, .meeting-client, .meeting-client-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#wc-container .attendee-content{
  width: 1000px !important;

}

#wc-footer {
  bottom: auto !important;
  width: 100% !important;
}
#dialog-join {
  width: 100% !important;
}
.join-dialog {
  display: none !important;
}

#sv-active-video, .active-main, #sv-active-speaker-view, .main-layout {
  height: calc(100% - 53px) !important;
  width: 100% !important;
}

.suspension-window {
  transform: translate(-0px, 10px) !important;
}

#dialog-invite {
  display: none;
}
